.header{
background-color: #111;
width: 940px;
height: 1000px;
margin:0 auto;
color:#fff;
position: relative;
}
.header-list{
  color:#fff;
  position: absolute;
  display: inline-block;
  top:0;
  right:0;
}
.video h2 {
  display: none;
}